<div id="landing-carousel" class="carousel slide" data-ride="carousel" data-pause="false" data-interval="4000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "carousel-1.jpeg", class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag "carousel-2.jpeg", class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag "carousel-3.jpeg", class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag "carousel-4.jpeg", class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag "carousel-5.jpeg", class: 'd-block w-100' %>
    </div>
  </div>
</div>