<p id="notice"><%= notice %></p>

<h1 class="display-4 text-center">Perfumes</h1>

<div class="container">
  <div class="row">
    <% @perfumes.each do |perfume| %>
    <div class="col-xs-6 col-sm-4 col-md-3">
    <%= link_to perfume, { class: 'text-decoration-none' } do %>
      <div class="text-center perfume-container">
        <%= image_tag perfume.img, class: 'img-fluid', size: '100x100' %>
        <div class="perfume-container-text">
          <h6 class="brand font-weight-bold"><%= perfume.brand %></h6>
          <h6><%= perfume.title %></h6>
          <p class="text-muted"><%= perfume.volume %>ml - <%= perfume.gender %></p>
          <p class="perfume-price">R<%= perfume.price %></p>
          <%#= link_to 'Show', perfume %>
          <%#= link_to 'Edit', edit_perfume_path(perfume) %>
          <%#= link_to 'Destroy', perfume, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
    <hr>
  </div>
    <% end -%>
  </div>
</div>

<br>

<%= link_to 'New Perfume', new_perfume_path %>
