<p id="notice"><%= notice %></p>

<h1>Perfumes</h1>

<table>
  <thead>
    <tr>
      <th>Img</th>
      <th>Brand</th>
      <th>Title</th>
      <th>Volume</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perfumes.each do |perfume| %>
      <tr>
        <td><%= image_tag perfume.img, size: '120x120', class: 'img-fluid' %></td>
        <td><%= perfume.brand %></td>
        <td><%= perfume.title %></td>
        <td><%= perfume.volume %></td>
        <td><%= perfume.price %></td>
        <td><%= link_to 'Show', perfume %></td>
        <td><%= link_to 'Edit', edit_perfume_path(perfume) %></td>
        <td><%= link_to 'Destroy', perfume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Perfume', new_perfume_path %>
