<div class="container">
  <div class="text-center">
    <h1 class="display-4">Perfumes</h1>
    <h5>Free delivery on orders exceeding R400</h5>
    <h6>R90 Delivery fee for orders under R400</h6>
  </div>

  <hr>

  <%= form_with(url: perfumes_path, method: 'get', local: true, class: 'form-control-sm', id: 'form-search') do |form| %>
  <div class="row justify-content-center">
    <%= form.label :q, 'Search for:', class: 'sr-only' %>
    <%= form.text_field :q, id: 'q', value: params[:q] %>
    <%= form.submit "Search" %>

  </div>
  <% end -%>

  <div class="row">
    <% @perfumes.each do |perfume| %>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <%= link_to perfume, { class: 'text-decoration-none' } do %>
      <div class="text-center perfume-container">
        <%= image_tag perfume.img, class: 'img-fluid', size: '100x100' %>
        <div class="perfume-container-text">
          <h6 class="brand font-weight-bold"><%= perfume.brand %></h6>
          <h6><%= perfume.title %></h6>
          <p class="text-muted"><%= perfume.volume %>ml - <%= perfume.gender %></p>
          <p class="perfume-price">R<%= perfume.price %></p>
          <%#= link_to 'Show', perfume %>
          <%#= link_to 'Edit', edit_perfume_path(perfume) %>
          <%#= link_to 'Destroy', perfume, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      <% end %>
      <hr>
    </div>
    <% end -%>
  </div>
</div>

<%= will_paginate @perfumes, class: 'apple_pagination' %>

<br>

<%= link_to 'New Perfume', new_perfume_path %>
