<div class="container padding-top">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="perfume-show-image">
        <%= image_tag @perfume.img, class: 'img-fluid mx-auto perfume-show', size: '300x400' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="perfume-info">
        <h4><%= @perfume.brand %> | <%= @perfume.title %></h4>
        <p class="text-muted small"><%= @perfume.gender %></p>
        <h6 class="text-bold">R<%= @perfume.price %></h6>
        <hr>
        <h6 class="text-bold">SIZE: <%= @perfume.volume %>ml</h6>
        <br>
        <div class="perfume-info-container">
          <p class="perfume-show-information"><i class="fas fa-info-circle"></i>  Details</p>
        </div>
        <p><%= @perfume.description %></p>
        <%= link_to "BACK", perfumes_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<br>